<h1>Sample App</h1>
<p>
	Thos os the home page for the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> sample application
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>