.container
{
	width: 710px;
}

body 
{
	background: #cff;
}

header
{
	padding-top: 20px;
}

header img {
	padding: 1em;
	background: #fff;
}

section
{
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #fff;
}

section h1
{
	font-size: 200%;
}

/* Links */
a 
{
	color: #09c;
	text-decoration: none;
}

a:hover
{
	color: #069;
	text-decoration: underline;
}

a:visited
{
	color: #069;
}

/* navigation */

nav
{
	float:right;
}

nav
{
	background-color: white;
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul
{
	margin: 0;
	padding:  0;
}

nav ul li
{
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a 
{
	padding: 0 5px;
	font-weight: bold;
}

nav ul li a:visited
{
	color: #09c;
}

nav ul li a:hover
{
	text-decoration: underline;
}

a.signup_button
{
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 190px;
	color: #fff;
	background: #006400;
	font-size: 150%;
	font-weight: bold;
	padding:20px;
}

.round
{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

footer 
{
  text-align:  center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav
{
	float:none;
}

/* User show page */
table.profile
{
	width: 100%;
	margin-bottom:0;
}

td.main 
{
	width:70%;
	padding: 1em;
}

td.sidebar
{
	width: 30%;
	padding: 1em;
	vertical-align: top;
	background: #ffc;
}

.profile img.gravatar
{
	border: 1px solid #999;
	margin-bottom: -15px;
}

div.field, div.actions
{
	margin-bottom: 10px;
}

.field_with_errors
{
	margin-top: 10px;
	padding: 2px;
	background-color: red;
	display:table;
}

.field_with_errors label
{
	color:  #fff;
}

#error_explanation
{
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color:#f0f0f0;
}

#error_explanation h2
{
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size:12px;
	margin:  -7px;
	background-color: #c00;
	color:#fff;
}

#error_explanation p 
{
	color: #333;
	margin-bottom:  0;
	padding: 5px;
}

#error_explanation ul li
{
	font-size: 12px;
	list-style: square;
}