<footer>
	<nav class="round">
		<ul>
			<li><%= link_to 'About', about_path %></li>
			<li><%= link_to 'Contact', contact_path %></li>
			<li><a href="Http://news.railstutorial.org/">News</a></li>
			<li><a href="Http://www.railstutorial.org/">Rails Tutorials</a></li>
		</ul>
	</nav>
</footer>