<!DOCTYPE html>
<html>
<head>
  <title>R<%= title %></title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/stylesheets' %>
</head>
<body>
  <div class="container">
  	<%= render 'layouts/header' %>
  	<section class="round">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value  %></div>
      <%  end %>
      <%= yield %>
  	</section>
  	<%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
